<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Record</title>
    {% load static %}
    <link href="{% static 'records/css/styles_form.css' %}" rel="stylesheet">
</head>
<body>
    <h1>今日食べたものを記録してください</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">保存</button>
    </form>
    <!-- <a href="{% url 'calendar' %}">カレンダーに戻る</a> -->
    <a class="button-link" href="{% url 'calendar' %}">カレンダーに戻る</a>
</body>
</html>

